#hashtag_menu{
    width: 130px;
    z-index: 100;
    position: fixed;
    top:50%;
    margin-left: 10px;
    text-align: center;
}

#hashtag_menu h2{
    font-weight: bold;
    background-color: rgba(35, 33, 71, 1);
    color: white;
    text-align: center;
    width: 180px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 5px gray;
    letter-spacing: 1px;
}

.conn_circle{
    background-color: rgba(35, 33, 71, 1);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 83px;
    margin-top: -10px;
}

.conn_bar{
    background-color: rgba(35, 33, 71, 1);
    width: 5px;
    height: 25px;
    /* border-radius: 50%; */
    margin-left: 88px;
    margin-top: -10px;
}


#hashtag_div{
    color: rgba(35, 33, 71, 1);
    background-color: rgba(217, 217, 217, 1);
    font-weight: bold;
    font-size: medium;
    width: 140px;
    height: 25px;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 22px;
    letter-spacing: 1px;
}
