<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.dao.ProductDAO">
	<insert id="insert" parameterType="com.example.demo.model.vo.ProductVO">
		insert into product(name, type, category, link)
		values(#{name}, #{type}, #{category}, #{link})
	</insert>
	
	<update id="update" parameterType="com.example.demo.model.vo.ProductVO">
		update product set name=#{name}, type=#{type}, category=#{category} where seq=#{seq}
	</update>
	
	<delete id="delete" parameterType="com.example.demo.model.vo.ProductVO">
		delete product where seq=#{seq}
	</delete>
	
	<select id="select" parameterType="com.example.demo.model.vo.ProductVO" resultType="com.example.demo.model.vo.ProductVO">
		select * from product where seq=#{seq}
	</select>
	
	<select id="selectAll" resultType="com.example.demo.model.vo.ProductVO">
		select * from product order by seq desc
	</select>

	<select id="selectOne" parameterType="com.example.demo.model.vo.SearchVO" resultType="com.example.demo.model.vo.ProductVO">
		select * from product where type in (#{category}) and category in(#{product1})
	</select>

	<select id="selectTwo" parameterType="com.example.demo.model.vo.SearchVO" resultType="com.example.demo.model.vo.ProductVO">
		select * from product where type in (#{category}) and category in(#{product1},#{product2})
	</select>

	<select id="selectThree" parameterType="com.example.demo.model.vo.SearchVO" resultType="com.example.demo.model.vo.ProductVO">
		select * from product where type in (#{category}) and category in(#{product1},#{product2},#{product3})
	</select>
</mapper>